<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reżyser</title>
    <style>
        table, th, tr, td {border: 1px solid black;}
    </style>
</head>
<body>
<div>
    <h2> Edytuj Reżysera: </h2>

    <form method="POST">
        <div class="text-center">
            <p>
                <input placeholder="Imie i Nazwisko" name="name" value="{{ director.name }}">
            </p>
            <p>
                <input placeholder="Wiek" name="age" value="{{ director.age }}">
            </p>
            <p>
                <input placeholder="Opinia" name="opinion" value="{{ director.opinion }}">
            </p>
            <p>
                <input placeholder="Najlepszy film" name="best_movie" value="{{ director.best_movie }}">
            </p>
            <p>
                <input placeholder="Najgorszy film" name="worst_movie" value="{{ director.worst_movie }}">
            </p>
        </div>

        <input type="submit" value="Edytuj informacje o reżyserze">
    </form>
</div>
</body>
</html>
