<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reżyserzy</title>
    <style>
        table, th, tr, td {border: 1px solid black;}
    </style>
</head>
<body>
<a href="/directors"><input type="submit" value="Reżyserzy"></a>
<a href="/movies"><input type="submit" value="Filmy"></a>
<a href="/loans"><input type="submit" value="Wypożyczenia"></a>

<h2>Reżyserzy</h2>
<table>
    <thead>
    <th>Imie i Nazwisko</th>
    <th>Wiek</th>
    <th>Opinia</th>
    <th>Najlepszy film</th>
    <th>Najgorszy film</th>

    </thead>
    {% for director in directors %}
   <form method="post">
    <tr>
        <td>{{ director.name }}</a></td>
        <td>{{ director.age }}</td>
        <td>{{ director.opinion }}</td>
        <td>{{ director.best_movie }}</td>
        <td>{{ director.worst_movie }}</td>
        <td><a href="{{ url_for('views.get_director', director_id=director.id )}}"><button type="button">Edit</button></a></td>


    </tr>
</form>
{% endfor %}
</table>


<div>
    <h2> Dodaj Reżysera: </h2>
    <form method="POST">
        <div class="text-center">
            <p>
              <input placeholder="Imie i Nazwisko" name="name">
            </p>
            <p>
                <input placeholder="Wiek" name="age">
              </p>
              <p>
                <input placeholder="Opinia" name="opinion">
              </p>
              <p>
                <input placeholder="Najlepszy film" name="best_movie">
              </p>
              <p>
                <input placeholder="Najgorszy film" name="worst_movie">
              </p>
          </div>

        <input type="submit" value="Dodaj film">
    </form>
</div>
</body>
</html>